<h1>THE TACO GUY</h1>
        <p>The Taco Guy is making lunches more convenient for you. 
        	<br><br> We deliver freshly homemade tacos straight to your door! 
        	<br><br>Leaving you without the hassle of having to wait in line to order food and waiting even longer for it to be cooked, so that you can get back to doing what is more important to you.
        </p>   
        <br>
        <p>
        	<a class="btn btn-lg btn-primary" href="http://tinyurl.com/mv54rjx" role="button">Order Now</a>
        	<a class="btn btn-lg btn-primary" href="http://i.imgur.com/Ye6FCLj.jpg" role="button">Menu</a>
        </p>
