<h1>THE TACO GUY</h1>
        <p>Delivering fresh and delicious tacos to your door</p>   
        <p>
        	<a class="btn btn-lg btn-primary" href="http://tinyurl.com/mv54rjx" role="button">Order Now</a>
        	<a class="btn btn-lg btn-primary" href="http://i.imgur.com/Ye6FCLj.jpg" role="button">Menu</a>
        	<a class="btn btn-lg btn-primary" href="/about" role="button">About Us</a>
        </p>
