 /* Don't let the header overlap the main content */
.starter-template {
	margin-top:70px;
}

body {
	background-image:url('http://i.imgur.com/DwIyjLk.png');
	background-size: 600px;
	background-repeat:no-repeat;
	background-position: 98% 205%;
}

.jumbotron{
	opacity: 0.925;
}